{{>header}}
{{>navbar}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrusel 3D</title>
    <link rel="stylesheet" href="styles/estilos.css">
</head>
<body background="https://img.freepik.com/vector-gratis/gradiente-fondo-noche-estrellada_23-2148288637.jpg?size=626&ext=jpg">
    <h2>Pintores :D</h2>
    <div class="content-all">
        <div class="content-carrousel">
            
            <figure><img src="images/pablo.jpg"></figure>
            <figure><img src="images/dali.jpg"></figure>
            <figure><img src="images/leonardo.jpg"></figure>
            <figure><img src="images/monet.jpg"></figure>
            <figure><img src="images/gogh.jpg"></figure>
            <figure><img src="images/velaz.jpg"></figure>
            <figure><img src="images/raro.jpg"></figure>
            <figure><img src="images/miguel.jpg"></figure>
            <figure><img src="images/gustav.jpg"></figure>
        </div>
    </div>
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{{>footer}}




